<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 5.1.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa9a6c50c0aee215a955a581936d492f:4003baf60fdbf10ea781ca8ea048c8ba:3ad99fa01a52a3cd6416aefd272e97f2$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>catPurr.1.png</string>
                <key>size</key>
                <string>{600,144}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>catPurr-0.png</string>
                        <key>spriteOffset</key>
                        <string>{2,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{150,150}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{148,142}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>catPurr-2.png</string>
                        <key>spriteOffset</key>
                        <string>{2,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{150,150}</string>
                        <key>textureRect</key>
                        <string>{{151,1},{148,142}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>catPurr-4.png</string>
                        <key>spriteOffset</key>
                        <string>{2,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{150,150}</string>
                        <key>textureRect</key>
                        <string>{{301,1},{148,142}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>catPurr-6.png</string>
                        <key>spriteOffset</key>
                        <string>{2,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{150,150}</string>
                        <key>textureRect</key>
                        <string>{{451,1},{148,142}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
